*.xcuserstate
*.xccheckout
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
Pods
.idea/*
*.orig
env.sh
*.hmap
*.LinkFileList
*.xcworkspacedata
*.xcsettings
*.xcscmblueprint
*.gcno
*.pdf
*.ktx
*.ktx
*.rej
.DS_Store
